<div *ngIf="user !== undefined" class="container">
    <div class="row">
        <input type="checkbox" name="completed" id="completed" (input)="completed($event)" />
        <div class="owner">
            <h3 *ngIf="type=='user'">User: {{ user!.fullName }}</h3>
            <h3>CLassroom: {{ user!.classroom }}</h3>
        </div>
        <div class="order-details">
            <h3>Items: {{ countItems() }}</h3>
            <h3>Total: {{ (order!.total / 100).toFixed(2) }}€</h3>
        </div>
        <div class="extended" (click)="toggleExpansion($event)" [ngClass]="expanded ? 'ext' : ''" [attr.aria-expanded]="expanded">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd" stroke="black" stroke-width="0.5"
                    d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
            </svg>
        </div>
    </div>
    <div *ngIf="expanded" class="order">
        <div class="item" *ngFor="let item of order!.contents">
            <h3>{{ item.product.name }}</h3>
            <h3 id="quantityh3"><p>x</p> <p>{{ item.quantity }}</p></h3>
            <h3>{{(item.product.cost/100).toFixed(2)}}€</h3>
            <h3>{{(item.product.cost*item.quantity/100).toFixed(2)}}€</h3>
        </div>
    </div>
</div>