.products{
    width: 90%;
    margin: 0 auto;
}

.products h1{
    text-align: center;
}

.total{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    background-color: rgb(111, 165, 239);
}
.total,.push{
    height: 100px;
}

.total button{
    margin: auto 0;
    height: 50px;
    width: 50%;
    font-size: larger;
    color: black;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    background-color: coral;
    transition: .1s;
    box-shadow: 0px 2px 10px gray ;
}

.total button:hover{
    border-color: gray;
    border-width: 2px;
    background-color: rgb(243, 121, 76);
    box-shadow: 0px 0px 10px gray ;
    transition: .1s;
}

.total button:active{
    border-color: gray;
    border-width: 2px;
    background-color: rgb(235, 94, 43);
    box-shadow: 0px 0px 0px gray ;
    transition: .1s;
}

.total button:disabled{
    background-color: rgb(164, 132, 120);
    border-color: black;
    border-width: 0px;
    box-shadow: 0px 0px 0px gray;
    transition: .1s;
}