<div class="playpause" (click)="enabled=!enabled">
    <zxing-scanner (scanError)="onError($event)" [autostart]="!scanSuccess" *ngIf="!scanSuccess"  [enable]="!scanSuccess"  (autostarted)="started()" (scanSuccess)="scanned($event)" [(device)]="currentDevice" (camerasFound)="onCamerasFound($event)"></zxing-scanner>
</div>
<select name="cameras" id="cameras" *ngIf="cameras!=undefined &&currentDevice!=undefined" (change)="onChange($event)">
    <option *ngFor="let camera of cameras" [value]="camera.deviceId" [selected]="camera.deviceId==currentDevice!.deviceId">{{camera.label}}</option>
</select>
<div class="search">
    <input id="search" type="text" i18n-placeholder placeholder="username" [(ngModel)]="searchQ">
    <button class="confirm" (click)="search()" i18n>Search</button>
    <h2 id="message">{{message}}</h2>
</div>
<div class="container" *ngIf="scanSuccess">
    <div *ngIf="user!=undefined" class="user">
        <h2 i18n>User:</h2>
        <h3>{{user!.fullName}}</h3>
        <h2 i18n>balance:</h2>
        <h3>{{(user!.balance/100).toFixed(2)}}€</h3>
    </div>
    <h2 i18n>Recharge:</h2>
    <div class="inp"><input type="number" name="recharge" id="recharge" [(ngModel)]="recharge" (input)="check()"> €</div>
    <button class="confirm" (click)="confirm()" i18n>Recharge</button>
</div>
