<div *ngIf="orders!==undefined" class="overlay">
    <div class="container">
        <div class="top">
            <h2 i18n>Products to Complete</h2>
            <button class="x" (click)="close()"><img src="assets/chiudi.png" alt="close" i18n-alt></button>
        </div>
        <div class="items">
            <div class="product" *ngFor="let item of products">
                <h2 class="name">{{item.product.name}}</h2>
                <p>{{(item.product.cost/100).toFixed(2)}}€</p>
                <div class="price">
                    <p>x {{item.quantity}}</p>
                    <p>{{((item.product.cost*item.quantity)/100).toFixed(2)}}€</p>
                </div>
            </div>
        </div>
        <h2 class="message">{{message}}</h2>
        <button i18n [disabled]="buttonDisabled" class="orange-button order" (click)="complete()" i18n>Complete</button>
    </div>
</div>