.container{
    width: 90%;
    margin-left: 5%;
}

.search{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.searchbox{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#searchbox{
    margin: .5em 0;
    padding: 3px;
    height: 30px;
    width: 200px;
    font-size: large;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
}

.searchbox button{
    appearance: none;
    color: black;
    font-size: larger;
    height: 36px;
    min-height: 36px;
    width: 36px;
    min-width: 36px;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border-color: #767676;
    border-radius: 100%;
    box-shadow: var(--shadow-elevation-low);
    transition: .1s;
    border-style: solid;
    border-width: 2px;
}

.searchbox button:hover{
    box-shadow: var(--shadow-elevation-medium);
    transition: .1s;
}

.searchbox button:active{
    box-shadow: none;
    transition: .1s;
}

.row{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
}

.row input[type=radio]{
    display: none;
}

.row input[type=radio] + label{
    display: flex;
    align-items: center;
    width: 97%;
    height: 30px;
    justify-content: center;
    user-select: none;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    font-size: larger;
    transition: .2s;
    box-shadow: var(--shadow-elevation-high);
    cursor: pointer;
}

.row #PANINO + label{
    background-color: rgb(179, 179, 179);
}
.row #BIBITA + label{
    background-color: rgb(179, 179, 179);
}
.row #DOLCE + label{
    background-color: rgb(179, 179, 179);
}

.row input[type=radio]:hover + label{
    box-shadow: var(--shadow-elevation-medium);
    transition: .2s;
}

.row input[type=radio]:active + label{
    box-shadow: var(--shadow-elevation-low);
    transition: .2s;
}

.row input[type=radio]:checked + label{
    transition: .1s;
    box-shadow: var(--shadow-elevation-low);
}

.row #PANINO:checked + label{
    background-color: orange;
}
.row #BIBITA:checked + label{
    background-color: green;
}
.row #DOLCE:checked + label{
    background-color: rgb(62, 190, 233);
}