.selector{
    display: flex;
    justify-content: center;
    align-items: center;
}

.selector input{
    -moz-appearance: textfield;
    height: 50px;
    border-radius: 20px;
    width: 30%;
    min-width: 50px;
    padding: 0px 5px;
    margin: 0 15px;
    text-align: center;
    font-size: 25px;
    border-style: solid;
    border-color: black
}
.selector input::-webkit-outer-spin-button,
.selector input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.sel{
    font-size: 25px;
    height: 50px;
    width: 50px;
    min-width: 50px;
    text-align: center;
    color: black;
    padding: 0;
    border-radius: 20px !important;
}

@media screen and (max-width:600px) {
    .selector input{
        padding: 0;
    }
}