.container{
    margin: 0 0 1em 0 !important;
    padding:10px;
    height: 200px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    border-style: var(--enabled);
    border-color: black;
    background-color: white;
    box-shadow: var(--shadow-elevation-medium);
}

.container > img{
    height: 80%;
}

#edit{
    appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#edit > img{
    height: 40px;
    width: 40px;
}

.container .right{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: .5em;
}
@media screen and (max-width:700px) {
    .buy{
        flex-direction: column;
        justify-content: space-evenly;
        height: 80%;
    }
    
    .text > h2{
        text-align: center;
    }

    .buy p{
        margin: 10px 0;
        font-size: xx-large;
    }
    
    .buy button{
        width: 100%;
        height: max(35px,6vw);
    }

    .container > img{
        height: 60%;
        margin-top: 10px !important;
    }

}

@media screen and (max-width:580px) {
    .container{
        height: auto;
        flex-direction: column;
        justify-content: end;
    }
    .container > img{
        height: auto;
        width: auto;
        max-width: 90%;
    }
    #edit{
        margin-left: auto;
        margin-right: 1em;
    }
}