<div *ngIf="orders!==undefined" class="overlay">
    <div class="container">
        <div class="top">
            <h2 i18n>Order Recipit</h2>
            <button class="x" (click)="close()"><img src="assets/chiudi.png" alt="close" i18n-alt></button>
        </div>
        <div class="items">
            <div class="product" *ngFor="let item of orders.contents">
                <h2 class="name">{{item.product.name}}</h2>
                <p>{{(item.product.cost/100).toFixed(2)}}€</p>
                <div class="price">
                    <p>x {{item.quantity}}</p>
                    <p>{{((item.product.cost*item.quantity)/100).toFixed(2)}}€</p>
                </div>
            </div>
        </div>
        <h2 class="message">{{message}}</h2>
        <h2 class="total" i18n>Total: {{(orders.total/100).toFixed(2)}}€</h2>
        <button [disabled]="buttonDisabled" class="orange-button order" (click)="order()" i18n>Order</button>
    </div>
</div>