.container{
    width: 90%;
    margin: 1em auto;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:1em 0 0 0;
    overflow-y: hidden;
}

input[type=radio]{
    appearance: none;
}

input[type=radio] + label{
    user-select: none;
    color: gray;
    font-size: larger;
}
input[type=radio]:checked + label{
    color: black;
    text-decoration: underline;
}

.menu button{
    margin: auto 0 1em 0 ;
    height: 40px;
    width: 200px;
    font-size: large;
    color: black;
}
