::ng-deep :root {
    --bg-color: rgb(111, 165, 239);
    --border-color: rgb(99, 99, 99);
}

.container{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 20rem;
    border-color: var(--border-color);
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    padding: clamp(1em,3%,3em);
    background-color: var(--bg-color);
    box-shadow: var(--shadow-elevation-medium);
}

.message{
    background-color: var(--msg-bg-color);
    color: var(--msg-color);
    border-radius: 10px;
    padding:10px;
    margin: 0;
}

button{
    margin-left: auto !important;
    height: 30px;
    width: fit-content;
    font-size: larger;
    color: black;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    background-color: coral;
    transition: .1s;
    box-shadow: var(--shadow-elevation-high);
}

button:hover{
    background-color: rgb(243, 121, 76);
    box-shadow: var(--shadow-elevation-medium);
    transition: .1s;
}

button:active{
    background-color: rgb(235, 94, 43);
    box-shadow: var(--shadow-elevation-low);
    transition: .1s;
}

button:disabled{
    background-color: rgb(164, 132, 120);
    box-shadow: none;
    transition: .1s;
}

@media (min-width:600px) {
    .container{
        margin-top: 20vh;
    }
}

input{
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--border-color);
}

h2{
    margin-bottom: 0px !important;
}

.container *{
    margin: 1em 0 1em 0;
    font-family: Sans-Serif;
}