.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(111, 239, 209);
    height: 5rem;
    min-width: fit-content;
    width: auto;
    max-width: 100vw;
}
h1{
    margin: 0 3vw;
    text-align: center;
}

.right, .left{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.right *, .left * {
    text-decoration: none;
}

img{
    height: 30px;
}

a{
    margin: 0 3vw;
    text-decoration: none;
    color: black;
}


.right > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.right p {
    margin: 0 3vw;
}
.container *{
    font-family: sans-serif;
}

.right a img{
    filter: invert();
}

@media screen and (max-width:600px) {
    .container{
        justify-content: space-evenly;
    }
    .left,.right{
        width: 100%;
        justify-content: space-evenly;
    }
    h1{
        font-size: medium;
        margin: 0 1vw;
    }
    a{
        margin: 0 1vw;
        text-align: center;
    }

    .right p{
        margin: 0 1vw;
    }

    
}