<div [style.display]="product==undefined ? 'none' : null" class="overlay">
    <div class="container">
        <div class="top">
            <h2 i18n>{{localize(mode)}} Product</h2>
            <button class="x" (click)="close()"><img src="assets/chiudi.png" alt="close" i18n-alt></button>
        </div>
        <div class="editor">
            <h3 i18n>Product Name:</h3>
            <input *ngIf="product!==undefined" type="text" name="name" id="name" [(ngModel)]="modelProduct!.name">
            <h3 i18n>Cost:</h3>
            <input *ngIf="product!==undefined" type="number" name="name" id="name" [(ngModel)]="modelProduct!.cost" (input)="check()">
            <h3 i18n>Type:</h3>
            <select *ngIf="product!==undefined" name="type" id="type" [(ngModel)]="modelProduct!.type">
                <option value="PANINO">Panino</option>
                <option value="BIBITA">Bibita</option>
                <option value="DOLCE">Dolce</option>
            </select>
            <h3 i18n>Image:</h3>
            <app-img-selector [selectedImg]="modelProduct?.img" (onSelected)="select($event)"></app-img-selector>
            <button *ngIf="mode==='Edit'" class="confirm" id="delete" (click)="deletePr()" i18n>{{(product?.disabled!==undefined && !product?.disabled) ? disableLocalized : enableLocalized}}</button>
        </div>
        <h2 *ngIf="message.length>0" class="message">{{message}}</h2>
        <button *ngIf="product!==undefined" [disabled]="isDisabled()" class="confirm" (click)="update()" i18n>Confirm</button>
    </div>
</div>